

@import url("https://fonts.googleapis.com/css2?family=Mooli&display=swap");


:root {
    --primary-color: #52489c;
    --secondary-color: #59c3c3;
    --accent-color: #f45b69;
    --text-dark: #333;
    --text-light: #ebebeb;
    --primary-font: Arial, Helvetica, sans-serif;
    --secondary-font: 'Mooli', sans-serif;

}


body {
    font-family: var(--primary-font);
    font-size: 1.2em;
    color: var(--text-dark);
    margin: 0;
    padding: 0;
}

h1, h2{
    font-family: var(--secondary-font);
}

a:link,
a:visited {
    color: var(--accent-color);
    text-decoration: none;
}

header,
footer {
    background-color: var(--primary-color);
    color: var(--text-light);
    padding: 1rem;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li {
    margin: 0.5rem 0;

}

button {
    background: none;
    border: none;
    color: var(--text-light);
    font-size: 1 em;
    padding: 0.5rem;
    cursor: pointer;
}


img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    max-width: 100%;
    display: block;
    margin: 0 auto;
}


.gallery {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    padding: 1rem;
}


#nav-menu {

    display: block !important;
    background-color: yellow;
    
}

#nav-menu.open {
    display: block;
}

@media screen and (min-width: 700px) {
    .gallery {
        grid-template-columns: 1fr 1fr;
    }


nav ul {
    display: flex;
    justify-content: center;
    gap: 2 rem;
}

nav li {
    margin: 0;
}

button {
    display: none;
}
}

